{% extends 'frontend/base.html.twig' %}

{% block title %}Inscripción Finalizada{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container" style="min-height:400px;">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Inscripción Finalizada
        </h1> 
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                    <h2 class="card-title">El administrador se pondrá en contacto.</h2>
                    <p class="card-text">
                    </div>  
                </div>
            </div>
        </div>
    </div>  
{% endblock %}
    